extends base.pug

block content
    div.container    

    form(action="/login" method='post')
        p#legend Login
        label.letter(for='username') Email as Username:
            input#username(type="text", name="username" value="")
        label.letter(for='password') Password:
            input#password(type="password", name="password" value="")
        div.asub
            input.submit(type="submit", name="done")   
        p Hint: one valid user is amy@example.com  / amyspassword

        
